name: Build Kivy Android APK
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update && sudo apt-get install -y openjdk-11-jdk ant gradle python3-pip wget unzip
      - run: pip install --upgrade pip && pip install buildozer==1.5.0 kivy==2.3.0 cython==0.29.36
      - run: buildozer android debug -v
      - uses: actions/upload-artifact@v4
        with:
          name: Kivy-Official-APK
          path: bin/*.apk
          retention-days: 30
